<!--<h1>Hola mundo desde {{ city.toUpperCase() }}</h1>!s-->
<!-- <app-user /> -->
<div>
  <h1>Lorem ipsum dolor sit</h1>
  <article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci a perferendis, ipsa fugit tenetur consequatur,
      earum corrupti quibusdam quod iste officiis incidunt assumenda tempora reprehenderit quas delectus sint
      repudiandae sapiente!
      Consectetur suscipit natus velit saepe magni, eaque totam praesentium incidunt! Aperiam similique tenetur debitis
      aspernatur, consectetur consequuntur nulla possimus ipsa non quaerat dolorem iusto suscipit reiciendis dolores sed
      vero facilis.</p>
  </article>
  @defer (on viewport) {
  <app-comments />
  } @placeholder {
  <p>.</p>
  } @loading {
  <p>Cargando los comentarios...</p>
  }
</div>